# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Build artifacts
/.next/
/out/
/build/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sensitive configuration
src/firebase/config.ts

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
.vercel
